/* 백그라운드 색깔 및 크기 설정 */
html,body{background:rgb(255, 255, 255)}





/* 가운데 정렬 */
.outer {
  text-align: center;
}

.inner {
  margin-left: 30%;
  margin-right: 30%;
  }

.title {
  margin-left: 30%;
  }
